{% extends 'base.html' %}
{% load static %}
{% block csscontent %} 
<link rel="stylesheet" href="{% static 'stateapp/css/style.css' %}">
{% endblock %}

{% block contenttitle %} State List {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
	    <div class="col-md-9"></div>
	    <div class="col-md-3"><a href="{% url 'stateapp:create' %}"><button type="button" class="btn btn-primary mt-2 mb-2">Create State</button> </a></div>
	</div>
<table class="table table-bordered">
    <thead>
      <tr>
	    <th>S.No.</th>
      <th>State Name</th>
      <th>Country Name</th>
		  <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
      {% for state in states %}
       <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ state.state_name }}</td>
        <td>{{ state.country.country_name}}</td>
        <td><a href="{% url 'stateapp:edit' state.id %}">Edit</a> <a href="{% url 'stateapp:delete' state.id %}">Delete</a></td>
       </tr> 
      {% endfor%}
    </tbody>
  </table>
  </div>
{% endblock %}

{% block footercontent %}
{% include "countryapp/include/footer.html" %}
{% endblock %}

{% block jscontent %} 
<script src="{% static 'countryapp/js/main.js' %}" ></script>
{% endblock %}