# ignore ALL files of __pycache__
derp/__pycache__/
usermanagementapp/__pycache__/
usermanagementapp/migrations/__pycache__/
countryapp/__pycache__/
countryapp/migrations/__pycache__/
stateapp/__pycache__/
stateapp/migrations/__pycache__/
cityapp/__pycache__/
cityapp/migrations/__pycache__/