{% extends 'base.html' %}
{% load static %}
{% block csscontent %} 
<link rel="stylesheet" href="{% static 'countryapp/css/style.css' %}">
{% endblock %}

{% block contenttitle %} Country List {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
	    <div class="col-md-9"></div>
	    <div class="col-md-3"><a href="{% url 'countrycreate' %}"><button type="button" class="btn btn-primary mt-2 mb-2">Create Country</button> </a></div>
	</div>
<table class="table table-bordered">
    <thead>
      <tr>
	    <th>S.No.</th>
        <th>Country Name</th>
		<th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
       <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{country.country_name}}</td>
        <td><a href="">Edit</a> <a href="">Delete</a></td>
       </tr> 
      {% endfor%}
    </tbody>
  </table>
  </div>
{% endblock %}

{% block footercontent %}
{% include "countryapp/include/footer.html" %}
{% endblock %}

{% block jscontent %} 
<script src="{% static 'countryapp/js/main.js' %}" ></script>
{% endblock %}