{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block contenttitle %} {% endblock contenttitle %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block csscontent %} {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
           <div class="p-1 bg-primary"><h1 class="text-center">DERP</h1></div> 
           <div class="row">
            <div class="col-md-2">
                {% include "include/leftsidebar.html" %}
            </div>
            <div class="col-md-10">
                {% block content %} {% endblock %}
                {% block footercontent %} {% endblock %}
               <!-- <link rel="stylesheet" href="{% static 'js/jquery.min.js' %}">-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
                 {% block jscontent %} {% endblock %}
            </div>
           </div> 
        </div>     
    </body>
</html>
